node_modules
.DS_Store
dist
dist-ssr
*.local
.idea
pnpm-lock.yaml
smartmontools.md
zsh_history.md
!/changelog.md
# /package-lock.json  
origin_theme.css
.vitepress/cache
**/.assets/
.assets/
/assets/
posts/assets/
no-uploading-files/
# Local Netlify folder
.netlify
.cursor/
.env
posts/
page_*.md